@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start my-5 mx-2">
    <h1 class="display-4">Bem vindo!</h1>
    <p>
        Essa é minha primeira aplicação com .net e c#
        </br>
        Crie, liste, edite e exclua anotações.
       
        Acesse "Lista" para verificar as opções.

    </p>
    
</div>
